.samuReportConfigurator {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 2em;
    box-sizing: border-box;
    button, input {
        margin: 0.5em;
        background: none;
        box-shadow: none;
        border: 1px solid darkgray;
        padding: 0.5em;
        transition: 0.5s;
        &[type*="file"] {
            /* max-width: 50%; */
        }
    }
    li {
        list-style: none;
        border: 1px solid darkgray;
        padding: 0.5em;
        margin: 0.5em;
        border-radius: 0.5em;
    }
    .svgContainer {
        height: 3em;
        width: 3em;
        vertical-align: middle;
        float: right;
        > svg {
            height: 100%;
            width: 100%;
        }
    }
    button {
        cursor: pointer;
        &:hover{
            filter: invert(1);
            text-shadow: 1px 1px 5px white;
        }
    }
    .formRow {
        display: flex;
        justify-content: space-between;
    }
    label {
        font-weight: bold;
        text-transform: capitalize;
    }
}